@font-face {
    font-family: 'Styrene A Web';
    src: local('Styrene A Web Bold'), local('Styrene-A-Web-Bold'),
        url('StyreneAWeb-Bold.woff2') format('woff2'),
        url('StyreneAWeb-Bold.woff') format('woff'),
        url('StyreneAWeb-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }